<% if (title == "Home"){%> 
          <h3 class='intro'>Hi This is Wooram Moon Home page, welcome!!!!!!!!!!!!!!! <br><br><br>
          My mission: I have to do success this Course!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>
        <% } else { %>
  <% } %>

  <% if (title == "About"){%> 
          <h3 class='intro'>My name is Wooram Moon and I am studied Software Technician</h3> <br><br>
          <h3 class="intro"><a href="Assets/images/Profile.pdf">Click to "pdf" for my resume</a></h3><br><br>
          <img id="myintro" alt="myintro" height="800" src="Assets/images/mypic.jpg" width="400">
        <% } else { %>
  <% } %>

  <% if (title == "Projects"){%> 
    <h3 class='intro'>3 of MY projects <br>
                      When the image click, it is going to show information 
    </h3> <br><br>
    <a href="http://studentweb.cencol.ca/wmoon1/COMP125001/Assignment5/Assignment05.html"><img id="projects" alt="myintro" height="500" src="Assets/images/1.png" width="400"></a>
    <a href="Assets/images/Software_Requirements_Specification.docx"><img alt="myintro" height="500" src="Assets/images/5990_1.jpg" width="400"></a>
    <a href="http://studentweb.cencol.ca/wmoon1/COMP125001/Assignment1/Assignment1.html"><img alt="myintro" height="500" src="Assets/images/2.jpg" width="400"></a><br><br>
    <p>close it</p>
  <% } else { %>
  <% } %>

  <% if (title == "Services"){%> 
    <h1 id='HeaderS'>COMPREHENSIVE SERVICES<br></h1> <br>
    <h3 id='ex'>From strategy to execution, our winning combination of Inovate thinking, Web developer, Design</h3><br><br>
    <table>
        <tr>
            <th><i class="fas fa-blog" style='font-size:100px'></i></th>
            <th><i class="fas fa-mobile" style='font-size:100px'></i></th>
            <th><i class="fas fa-flask" style='font-size:100px'></i></th>
          </tr>
          <tr>
            <td><h1 id="pp">Web Developer</h1>
            <h4 id="pp">Their expertise, flexibility, professionalism and commitment are key factors in our successful and safe relationship.<br> 
                The projects are delivered on time, if not ahead of time,<br> according to specifications and with high quality standards.”</h4></td>
            
            <td><h1 id="pp">Mobile Apps</h1>
            <h4 id="pp">Transform your Mobile App Idea into Multi Million Dollar Reality.<br> Calculate Pricing Now. We are Experts in iOS App,<br> Android App, HybrApp, Cross Platform App, Native App Developmnt. Services: Mobile Applications</h4></td>

            <td><h1 id="pp">Innovate</h1>
            <h4 id="pp">This is Design Thinking for Software Technician</h4></td>
          </tr>
    </table>
  <% } else { %>
  <% } %>

  <% if (title == "Contact"){%> 
    <h1 class='intro'> Contact us</h3> <br><br>
    <h2>name: Wooram Moon </h2><br>
    <h2>Email: <a href="mailto:wpdl5558@gmail.com">wpdl5558@gmail.com</a></h2><br>
    <h2>Phone: 647-879-6231</h2><br>
    <h2>Contact me!!!!!!!!!!!!!!!!!</h2><br><br>
    <img id="myintro" alt="myintro" height="500" src="Assets/images/3.jpeg" width="400">
    <p>close it</p>
  <% } else { %>
  <% } %>

  